/* ============================================================
   Demo Styles
   ============================================================ */
	body{
		font-family: Arial, sans-serif;
		color: #fff;
	}
	.expand{
		margin: 10px 0 0 0;
		padding: 10px;
		background-color: #D14836;
		font-weight: 700;
	}
	
	.open{
		padding: 10px;
		background-color: #333;
		
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
	}